<!DOCTYPE html>
<html lang="en">
<head>
    <title><%# pageTitle %></title>
    <%# for charset, see bootstrap_head.ejs %>
    <%- include ('bootstrap_head') -%>
    <%- include ('fontawesome') -%>
</head>
<body>