<%- include ('templates/header') -%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Muskenum Games</h1>
    <p class="lead"> The leading online gaming platform in times of coronavirus</p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Join us today!</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><img src="/images/index_join.jpg" height="200px"></li>
                </ul>
                <a class="btn btn-lg btn-block btn-primary" href="/users/new" role="button">Sign up</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Browse our games!</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><img src="/images/index_games.jpg" height="200px"></li>
                </ul>
                <a class="btn btn-lg btn-block btn-primary" href="/games" role="button">Let's rock!</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Shape the world!</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><img src="/images/index_login.jpg" height="200px"></li>
                </ul>
                <a class="btn btn-lg btn-block btn-primary" href="/login" role="button">Log in</a>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <p class="lead font-italic">
        <q>Always have fun, be respectful and never rage!</q></p>
    <p>- Siv HD (::DFC::)</p>
</div>

<%- include ('templates/footer') -%>