<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<br>
<div class="container">
    <h2>NukeEmAllXD</h2>
    <table class="table table-bordered">
        <tr>
            <th>Name:</th>
            <td>alma</td>
        </tr>
        <tr>
            <th>Country:</th>
            <td>fája</td>
        </tr>
    </table>
    <a href="/users/:userid/games" class="btn btn-success">User's games <i class="fas fa-gamepad"></i></a>
    <a href="/users/edit/:userid" class="btn btn-primary">Edit <i class="fas fa-edit"></i></a>
</div>

<%- include ('templates/footer') -%>