<%- include ('templates/header') -%>
<%- include ('templates/navbar_full') -%>

<br>
<div class="container">
    <h2>Registered users</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Country</th>
            <th>&nbsp;</th>
        </tr>
        <tr >
            <td class="align-middle">egyeske</td>
            <td class="align-middle">username1</td>
            <td class="align-middle">userCountry1</td>
            <td>
                <a href="/users/:userid" class="btn btn-primary">Profile <i class="fas fa-user-circle"></i></a>
                <a href="/users/:userid/games" class="btn btn-success">User's games <i class="fas fa-gamepad"></i></a>
            </td>
        </tr>
        <tr>
            <td class="align-middle">userName</td>
            <td class="align-middle">userUserNam</td>
            <td class="align-middle">userCountry</td>
            <td>
                <a href="/users/:userid" class="btn btn-primary">Profile <i class="fas fa-user-circle"></i></a>
                <a href="/users/:userid/games" class="btn btn-success">User's games <i class="fas fa-gamepad"></i></a>
            </td>
        </tr>
        <tr>
            <td class="align-middle">userName</td>
            <td class="align-middle">userUserName</td>
            <td class="align-middle">userCountry</td>
            <td>
                <a href="/users/:userid" class="btn btn-primary">Profile <i class="fas fa-user-circle"></i></a>
                <a href="/users/:userid/games" class="btn btn-success">User's games <i class="fas fa-gamepad"></i></a>
            </td>
        </tr>
        </thead>
    </table>
</div>

<%- include ('templates/footer_extra') -%>